.body{
 background-color: aquamarine;
 margin:25px 25px 25px 25px ;
}
.title{
    text-align: center;
    font-size:400%;
    
}
.final{
    padding-left: 60%;
    font-size: 200%;
    position:fixed;
    color:rgb(0, 0, 255)

}
.img{
 
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.about{
    background-color: rgb(102, 236, 191);
    box-shadow: 8px 8px 30px rgb(234, 233, 229);
    padding: 30px 20px 50px 20px;
}

.abtlegend{
    color: rgb(243, 249, 255);
    text-align: center;
    text-shadow: 8px 5px 8px  rgb(0, 0, 0);
}
