body{
    background-color: rgb(218, 218, 218);
    text-align: center;
}
img{
    border-radius: 70%;
}
.p1{
    font-size: 70px;
}
.div1{
    margin-left: 15%;
    background-color: rgb(158, 249, 249);
    width: 70%;
    height: 40px;
    text-align: left;
    text-align: justify;
    color: green;
}
pre{
    font-size: 30px;
}
.div2{
    display: flex;
    
}
.rightdiv{
   margin-left: 30%;
}
.leftdiv{
    margin-left: 15%;

}
.button{
    border-radius: 10%;

    border-color: orange;
 color: white;
 background-color: orange;   
}
.button2{
    height: 40px;
    margin-left: 20%;
    color: white;
    background-color: rgb(124, 0, 0);
    border-radius: 10%;
    border-color:rgb(124, 0, 0) ;
}